<footer class="bg-dark p-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h3 class="text-light">Contáctame gamersplays33@gmail.com</h3>
        <p class="text-light">Dudas o preguntas consulta con ikarjesus</p>
      </div>

    <hr styles="color: aliceblue;">
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="text-secondary">@ 2023 todos los derechos reservados.</p>
      </div>
      <div class="col-md-6">
        <p class="text-end text-secondary">Hecho por ikarjesus</p>
      </div>
    </div>
  </div>
</footer>


