<section class="container p-5" id="portafolio">
  <h2 class="text-center"> Mis proyectos</h2>
  <hr class="mb-5">

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/web.jpg') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">Flask python</h5>
          <p class="card text">Recepción de mensajes</p>
           <a href="#" class="nav-link text-primary">click aquí</a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/facturacion.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">tkinter_python</h5>
          <p class="card text">Sistema de Restaurant</p>
          <a href="https://github.com/icare12/facturaderas" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/lista de personas.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">html,css,javascript</h5>
          <p class="card text">Proyectos desarrollados</p>
          <a href="https://gentenumbers.000webhostapp.com/" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/porcentaje.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">python tkinter</h5>
          <p class="card text">Cálculo de % de ganancias de cada empleado, hecho con tkinter_python</p>
          <a href="https://github.com/icare12/porciento-tkinter" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/balance.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">Balance</h5>
          <p class="card text">Proyectos desarrollados</p>
          <a href="https://balancearea51.000webhostapp.com/" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/lista de tarea.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">Django python</h5>
          <p class="card text">Proyectos desarrollados</p>
          <a href="https://github.com/icare12/tarea" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>
     <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/cronometro.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">cronómetro</h5>
          <p class="card text">cronómetro para PC</p>
          <a href="https://github.com/icare12/temporizadordenavegacion-icare12.github.com" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>
      <div class="col">
      <div class="card">
        <img src="{{ url_for('static', filename='img/psd.png') }}" alt="Imagen del proyecto"
          class="d-block mx-lg-auto img-fluid">

        <div class="card-body">
          <h5 class="card-title">PSD</h5>
          <p class="card text">PSD Photoshop</p>
          <a href="https://www.behance.net/gallery/172463247/iguana" class="nav-link text-primary">click aquí</a>
        </div>
      </div>
    </div>
  </div>
</section>

